/* Phone media screen */
* {
  margin: 0;
  padding: 0;
}

/* Startsida butik */
/*  */
.theHeader {
  height: 100px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Sidans namn */
.theHeadName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

.theHeadName a {
  color: black;
  text-decoration: none;
}
/*  */

/* Startsidans huvud bild */

.wp-image-111 {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 350px;
  /* border: 1px solid black; */
}

.theStartImg {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: auto;
}

/*  */

/* Hamburgeermeny knappen */
.fa-solid.fa-bars {
  right: 0;
  font-size: 40px;
  cursor: pointer;
  position: fixed !important;
  top: 60px;
}

/*  */
/* 
Hamburger menyns sträng knapp
 */

.fa-solid.fa-x {
  color: darkred;
  top: 60px;
  position: absolute;
  right: 0;
  font-size: 40px;
  cursor: pointer;
}

/*  */

/* Själva innehållets design till hamburger menyn */

.theComputerNav {
  display: none;
}

.theHamburgerMenu {
  position: fixed;
  right: 0;
  z-index: 100;
  top: -700px;
  background-color: white;
  width: auto;
  height: 100vh;
  box-shadow: 0 0.05rem 0.05rem black;
}

.theHamburgerMenu ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 100px !important;
}
.theHamburgerMenu a {
  color: black;
  font-size: 25px;
  text-decoration: none;
}

.theHamburgerMenu li {
  list-style: none;
}

.theHamburgerMenu li:hover {
  background-color: whitesmoke;
}

.theHamburgerMenu.youOpen {
  position: fixed;
  z-index: 100;
  top: 0;
}

.woocommerce-product-search {
  display: flex;
}
#woocommerce-product-search-field-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
/*  */

/* Själva innehållets design till hamburger menyn och gjort en egen category*/

/* .theBtnForCategory {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.theBtnForCategory:hover {
  background-color: whitesmoke;
}

.theCategoryDiv {
  text-align: center;
  position: fixed;
  right: -500px;
} */

/* .theCategoryDiv.openCategory { */
/* .theCategoryDiv.openCategory {
  position: fixed;
  right: 0;
  width: auto;
  height: 100vh;
  background-color: white;
}

.theLI {
  margin-top: 15px;
}

.theA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
}
.theCategoryDiv .theLI:hover {
  background-color: whitesmoke;
} */

/*  */

/* Styling till produkterna */

.products.columns-4 {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.products .product {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  width: 300px !important;
  height: 400px !important;
  border-radius: 5px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 70px !important;
}

.products .product:hover {
  background-color: whitesmoke;
}

.products .product img {
  width: 250px !important;
  height: 250px !important;
}

.product img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
  display: flex !important;
  margin: auto !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  width: 250px !important;
  height: 250px !important;
}

.products .product h2 {
  color: black;
  font-family: Arial;
  font-size: 15px !important;
}

.products .product .price {
  color: black;
  font-size: 18px !important;
}

.products .product a.button {
  background-color: black;
  color: white;
}

.products .product a.button:hover {
  background-color: rgba(0, 0, 0, 0.558);
  color: white;
}

/*  */

/* Sortering*/

.woocommerce-ordering {
  width: 100%;
  text-align: center;
}

.woocommerce-ordering .orderby {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 80%;
  height: auto;
  text-align: center;
  border-radius: 5px;
  background: whitesmoke;
  color: black;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  cursor: pointer;
}

.woocommerce .woocommerce-result-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 100;
  font-family: Arial;
  float: none !important;
}

/*  */

/* Footern där information finns om hur man kontaktar */
.theFooter {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background-color: lightgray;
  color: black;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

/* Category sidan */

.wc-block-product-categories-list.wc-block-product-categories-list--depth-0 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.wc-block-product-categories-list.wc-block-product-categories-list--depth-0 li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  margin-top: 50px;
  border-radius: 5px;
  width: auto;
  height: 100px;
  list-style: none;
}

.wc-block-product-categories-list.wc-block-product-categories-list--depth-0 a {
  color: black;
  font-size: 30px;
  text-decoration: none;
}

.theAllCategoryInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}

.eachCategoryInfo {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.eachCategoryInfo img {
  width: 250px !important;
  height: 250px !important;
}

.thecategorybutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #717171 !important;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: none;
}

.eachCategoryInfo a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.theaforcategory {
  font-size: 20px;
}

/*  */

/* Search.php */

.theStyleSearch {
  display: flex;
  justify-content: center;
}

.allSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.eachSearchProduct {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.eachSearchProduct:hover {
  background-color: whitesmoke;
}

.theH2Search {
  font-size: 15px;
}
.theEachButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.558);
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: none;
  margin: auto;
}

.theEachButton:hover {
  background-color: black;
}

.theEachA {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.thePostImg .attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
  width: 250px !important;
  height: 250px !important;
}
/*  */

/* Product search */
/* .woocommerce-product-search { */
/* display: flex; */
/* flex-direction: row; */
/* } */

/* .search-field { */
/* width: 100%; */
/* padding-bottom: 5px; */
/* padding-top: 5px; */
/* font-size: 20px; */
/* font-family: Arial; */
/* } */

/* .woocommerce-product-search button { */
/* width: 20%; */
/* } */

/*  */

/* Paypal design */

/*  */

/* Account meny for users */

.fa-solid.fa-user {
  font-size: 40px;
  left: 20px;
  font-size: 40px;
  cursor: pointer;
  position: fixed !important;
  top: 60px;
}

.thePhoneAccountMeny {
  /* display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed !important ;
  top: 100px;
  background-color: darkgray;
  font-size: 30px;
  border-radius: 10px; */
  position: fixed !important ;
  left: -500px !important;
  flex-direction: column;
  text-align: center;
  top: 120px;
  background-color: #e3e3e3;
  font-size: 30px;
  border-radius: 10px;
  width: 40%;
}

.thePhoneAccountMeny.openPhoneMenu {
  position: fixed !important;
  left: 0px !important;
}

.thePhoneAccountMeny ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.thePhoneAccountMeny.openPhoneMenu li {
  list-style: none;
}

.thePhoneAccountMeny.openPhoneMenu a {
  text-decoration: none;
  color: black;
}

.thePhoneAccountMeny.openPhoneMenu a:hover {
  color: darkblue;
}

/*  */

/* Smart Tablet */
@media screen and (min-width: 768px) {
  /* Startsida butik */
  /*  */
  .theHeader {
    height: 120px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* Sidans namn */
  .theHeadName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
  }

  .theHeadName a {
    color: black;
    text-decoration: none;
  }
  /*  */

  /* Nav med alla länkar till sidorna */

  .theComputerNav {
    display: flex;
    flex-direction: column;
  }

  .theComputerNav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .theComputerNav li {
    font-size: 22px;
    list-style: none;
  }

  .theComputerNav a {
    color: black;
    text-decoration: none;
  }

  /*  */

  /* Startsidans huvud bild */

  .wp-image-111 {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 350px;
    /* border: 1px solid black; */
  }

  .theStartImg {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: auto;
  }

  /*  */

  /* Hamburgeermeny knappen */
  .fa-solid.fa-bars {
    display: none;
  }

  /*  */
  /* 
Hamburger menyns sträng knapp
 */

  .fa-solid.fa-x {
    color: darkred;
    top: 60px;
    position: absolute;
    right: 0;
    font-size: 40px;
    cursor: pointer;
  }

  /*  */

  /* Själva innehållets design till hamburger menyn och gjort en egen category*/

  /* .theBtnForCategory2 {
    position: absolute;
    right: 30px;
    font-size: 22px;
    cursor: pointer;
  }

  .theBtnForCategory2:hover {
    color: darkblue;
  }

  .theCategoryDiv2 {
    text-align: center;
    position: fixed;
    top: -500px;
  } */

  /* .theCategoryDiv.openCategory { */
  /* .theCategoryDiv2.openCategory2 {
    position: fixed;
    right: 30px;
    top: 90px;
    width: auto;
    height: auto;
    margin-top: 50px;
    background-color: whitesmoke;
    border: 1px solid black;
  }

  .theLI {
    margin-top: 15px;
  }

  .theA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 18px;
  }
  .theCategoryDiv .theLI:hover {
    background-color: whitesmoke;
  } */

  /*  */

  /* Styling till produkterna */

  .products.columns-4 {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }

  .products .product {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    width: 300px !important;
    height: 400px !important;
    border-radius: 5px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    /* margin-top: 70px !important; */
  }

  .products .product:hover {
    background-color: whitesmoke;
  }

  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    width: 250px !important;
    height: 300px !important;
  }

  .products .product img {
    width: 250px !important;
    height: 250px !important;
  }

  .products .product h2 {
    color: black;
    font-family: Arial;
    font-size: 5px;
  }

  .products .product .price {
    color: black;
    font-size: 18px !important;
  }

  .products .product a.button {
    background-color: black;
    color: white;
  }

  .products .product a.button:hover {
    background-color: rgba(0, 0, 0, 0.558);
    color: white;
  }

  /*  */

  /* Sortering*/

  .woocommerce-ordering {
    width: 100%;
    text-align: center;
  }

  .woocommerce-ordering .orderby {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: auto;
    text-align: center;
    border-radius: 5px;
    background: whitesmoke;
    color: black;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    cursor: pointer;
  }

  .woocommerce .woocommerce-result-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 100;
    font-family: Arial;
    float: none !important;
  }

  /*  */

  /* Footern där information finns om hur man kontaktar */
  .theFooter {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: lightgray;
    color: black;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }

  /* Product search */
  .woocommerce-product-search {
    display: flex !important;
    flex-direction: row !important;
  }

  .search-field {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 20px;
    font-family: Arial;
  }

  .woocommerce-product-search button {
    width: 20%;
  }

  /*  */

  /* Footern där information finns om hur man kontaktar */
  .theFooter {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: lightgray;
    color: black;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  /*  */

  /* Paypal design */

  /*  */

  /* Account meny for users */

  .fa-solid.fa-user {
    display: none;
  }

  .fa-regular.fa-user {
    position: fixed;
    font-size: 40px;
    top: 35px !important;
    left: 50px;
  }

  .theAccountMeny {
    position: fixed !important ;
    left: -800px !important;
    flex-direction: column;
    text-align: center;
    top: 120px;
    background-color: #e3e3e3;
    font-size: 35px;
    border-radius: 10px;
    width: 40%;
  }

  .theAccountMeny ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .theAccountMeny.openMenu {
    position: fixed !important;
    left: 0 !important;
  }
  /*  */
}

/* Computer */
@media screen and (min-width: 1200px) {
  .theComputerNav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  /* Product search */

  .theComputerNav .woocommerce-product-search {
    display: flex;
    flex-direction: row;
    /* position: absolute;
    right: 0; */
  }

  .theComputerNav .search-field {
    width: 100%;
    font-size: 20px;
    font-family: Arial;
  }

  .theComputerNav .woocommerce-product-search button {
    width: 30%;
  }

  /*  */

  /* Produkter */
  .products .product {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    width: 300px !important;
    height: 400px !important;
    border-radius: 5px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    /* margin-top: 70px !important; */
  }
  /* Footern där information finns om hur man kontaktar */
  .theFooter {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: lightgray;
    color: black;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }

  /* Footern där information finns om hur man kontaktar */
  .theFooter {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: lightgray;
    color: black;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  /*  */

  /* Paypal design */

  /*  */

  /* Account meny for users */
  .theAccountMeny {
    position: fixed;
    left: 1500px;
    z-index: 100;
  }

  .theAccountMeny ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .theAccountMeny.openMenu {
    position: fixed;
    left: 0;
    z-index: 100;
  }
  /*  */
}
